#tb {
    align-content: center;
    font-style: oblique;
    font-size: 10;
    letter-spacing: 20px;
}

#main {
    background-color: rgba(127, 236, 255, 0.294);
}

.title {
    letter-spacing: 20px;
}

.row-grid {
    display: block;
    stroke: #b4b5b5;
    /* shape-rendering: crispedges;*/
    stroke-width: 1;
    opacity: 0.7;
}